html{
  background-color:#9a0202;
}
body{
  margin:0px;
  padding:0px;
}


.a-nav{
  position:-webkit-fixed;
  position:fixed;
  top:0px;
  z-index:1;
  height:50px;
  background-color:rgba(0, 0, 0, 0.532);
  width:100%;
}

#flter{
  color:rgb(26, 222, 0);
  font-size: 3vw;
  margin-right:48vw;
  margin-left:10vw;
}

.banner{     
  text-align:center; 
  border-style:inset;
  border-color:#9a0202;
  height:44vw;
  background-size:auto;
  height:fit-content;
  padding-bottom:0px;
  
}
.welcome-div{
  padding-bottom:30px;
}

.a{
  text-decoration:none;
  color:white;
  margin:10px;
  font-size:2vw;
 }

#welcome{
  color:#84ff00;
  text-shadow:2px 2px 5px rgb(255, 0, 0);
  font-size:100px;
  position:relative;
  margin-top:150px;
  margin-bottom:80px;
}

#about-myself1{
  color:lightseagreen;
  text-align:center;
  text-shadow:2px 2px 5px black;
}
#about-myself-content{
  display:flex;
  justify-content: space-around;
}
#pepe{
margin-top: 10vh;
border-radius:60%;
border:#000000 2px solid;
}
#about-myself-p{
padding-top:50px;
text-align:right;
font-size:20px;
text-shadow:2px 2px 5px black;
}

#about-myself{
height:480px;
margin-top:60px;

}

#projects{
  height: 500px;
}

#projects-h{
  
}
